{% extends 'store/AdminMain.html' %}
{% load static %}
{% block acontent %}
    <center>
    <div class="row">

    <div class="card" style="width: 18rem; margin-top: 10px; ">
  <div class="card-body">
    <img class="thumbnail" src="{% static  'images/user-management-.png' %}">
    <a href="" class="btn btn-primary">User management</a>
  </div>
</div>


    <div class="card" style="width: 18rem;margin-top: 10px; margin-left: 20px">
  <div class="card-body">
    <img class="thumbnail" src="{% static  'images/productm.png' %}">
    <a href="{% url 'productm' %}" class="btn btn-primary">Product management</a>
  </div>
</div>

        <div class="card" style="width: 18rem;margin-top: 10px; margin-left: 20px">
  <div class="card-body">
    <img class="thumbnail" src="{% static  'images/Order-Management-Icon.jpg' %}">
    <a href="" class="btn btn-primary">Order Management</a>
  </div>
</div>

        <div class="card" style="width: 18rem;margin-top: 10px;">
  <div class="card-body">
    <img class="thumbnail" src="{% static  'images/reportm.png' %}">
    <a href="" class="btn btn-primary">Report Management</a>
  </div>
</div>

        <div class="card" style="width: 18rem;margin-top: 10px; margin-left: 20px">
  <div class="card-body">
    <img class="thumbnail" src="{% static  'images/hospitalm.png' %}">
    <a href="" class="btn btn-primary">Hospital management</a>
  </div>
</div>

        <div class="card" style="width: 18rem;margin-top: 10px; margin-left: 20px">
  <div class="card-body">
    <img class="thumbnail" src="{% static  'images/Help-icon.png' %}">
    <a href="#" class="btn btn-primary">Admin panel guide</a>
  </div>
</div>



    </div>
    </center>





{% endblock acontent %}

