{% extends 'store/AdminMain.html' %}
{% load static %}
{% block acontent %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">


                <p>Are you sure you want to delete "{{ hospital.name }}"?</p>

                <form action="{% url 'deletehospital' hospital.id %}" onsubmit="alert('Hospital deleted successfully.')"
                      method="POST">

                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'hospitalm' %}">Cancel</a>


                    <input class="btn btn-danger" type="submit" name="Confirm" value="Delete">
                    {% for message in messages %}

                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock acontent %}