{% extends 'store/AdminMain.html' %}
{% load static %}
{% block acontent %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">


                <p>Are you sure you want to delete "{{ product.name }}"?</p>

                <form action="{% url 'deleteproduct' product.id %}" onsubmit="alert('Product deleted successfully.')"
                      method="POST">

                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'productm' %}">Cancel</a>


                    <input class="btn btn-danger" type="submit" name="Confirm" value="Delete">

                </form>
            </div>
        </div>
    </div>




{% endblock acontent %}