{% extends 'store/AdminMain.html' %}
{% load static %}
{% block acontent %}

    <br>



    <div class="row">


        <a href="{% url 'productform' %}" class="btn btn-primary btn-lg btn-block" role="button"
        >Add new product</a>





        {% for product in products %}


            <div class="col-lg-4">
                <img class="thumbnail" src="{{ product.image.url }}">
                <div class="box-element product">
                    <h6>{{ product.name }}</h6>
                    <hr>


                    <a href="{% url 'updateproduct' product.id %}" class=" btn btn-outline-success btn-dark"
                       role="button"
                       aria-expanded="false" aria-controls="collapseExample">Update</a>
                    <a href="{% url 'deleteproduct' product.id %}" class=" btn btn-outline-success btn-dark"
                       role="button"
                       aria-expanded="false" aria-controls="collapseExample"
                    >Delete</a>
                    <h4 style="display: inline-block; float: right;"> ${{ product.price }}</h4>
                    <div class="collapse" id="n{{ forloop.counter }}">
                        <div class="box-element" id="form-wrapper">
                            <form id="form" method="post" enctype="multipart/form-data">
                                {{ form.as_p }}


                                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Update">
                            </form>
                        </div>


                    </div>

                </div>


            </div>





        {% endfor %}


    </div>

{% endblock acontent %}