{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <label class="text-bold">Search results:</label>
    <div class="row">


        {% for product in allPosts %}


            <div class="col-lg-4">
                <img class="thumbnail" src="{{ product.image.url }}">
                <div class="box-element product">
                    <h6>{{ product.name }}</h6>
                    <hr>
                    <button data-product="{{ product.id }}" data-action="add"
                            class="btn btn-outline-secondary add-btn update-cart">
                        Add to cart
                    </button>

                    <a href="#n{{ forloop.counter }}" data-toggle="collapse" class=" btn btn-outline-success btn-dark"
                       role="button"
                       aria-expanded="false" aria-controls="collapseExample">Info</a>
                    <h4 style="display: inline-block; float: right;"> ${{ product.price }}</h4>
                    <div class="collapse" id="n{{ forloop.counter }}">
                        <p>{{ product.description }}</p>


                    </div>

                </div>


            </div>





        {% endfor %}


    </div>
{% endblock content %}


</div>